<% content_for :title, "This submission link has expired" %>

<%= render "shared/frame", max_width: :form do %>
  <%= render "shared/page_header", title: "This submission link has expired." %>

  <section class="rogue-card">
    <p class="rogue-paragraph">For your security, submission links expire 14 days after they're sent.</p>
    <p class="rogue-paragraph">We'll send a fresh link the next time data is due.</p>
  </section>
<% end %>
